{% extends 'layout.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block menu %}
    <div class="fixed text-white bg-purple-700 left-0 top-0 z-50  min-h-[60px] min-w-full  lg:min-w-[20%] lg:min-h-screen drop-shadow-lg ">


        <div id="inner-menu" class="flex flex-wrap justify-center content-center min-w-full min-h-full lg:min-h-screen">

            <ul class="text-right ">
                <li class="hover:bg-purple-800 hover:rounded-lg inline-block lg:block underline underline-offset-4 hover:underline-offset-8 lg:p-5 pl-5 pr-5 pt-2 pb-2 mt-2 lg:border-0">
                    <span class=" p-3 lg:p-5 min-w-[12rem]   ">WELCOME</span>
                </li>
                <li class="hover:bg-purple-800 hover:rounded-lg inline-block lg:block underline underline-offset-4 hover:underline-offset-8 lg:p-5 pl-5 pr-5 pt-2 pb-2 mt-2 lg:border-0">
                    <span class=" p-3 lg:p-5 min-w-[12rem]   ">WELCOME</span>
                </li>
            </ul>

        </div>




    </div>
{% endblock %}

{% block content %}

    <div id="content-wrapper" class="lg:ml-[20%] z-40">

        <div id="" class="text-white">

            <section class="flex flex-wrap justify-center content-center w-auto min-w-fit min-h-screen bg-purple-900">

                <div id="headline-card" class="text-center lg:text-right bg-purple-500/75 rounded p-2 m-[5%] w-auto drop-shadow-md">
                    <h1 class="text-4xl lg:text-6xl mb-5 drop-shadow-md">
                        Welcome to <strong>LASSEHARM.SPACE</strong> 🚀
                    </h1>
                    <small class="text-3xl drop-shadow-md">
                        It's a pleasure to meet <strong>YOU</strong> !
                    </small>
                </div>
            </section>

            <section class="flex flex-wrap justify-center content-center w-auto min-w-fit min-h-screen bg-purple-600">
                <div id="headline-card" class="text-center lg:text-right bg-purple-500/75 rounded p-2 m-[5%] w-auto drop-shadow-md">
                    <h1 class="text-4xl lg:text-6xl mb-5 drop-shadow-md">
                        <strong>DUMMY TEXT</strong>
                    </h1>
                </div>
            </section>

        </div>

    </div>

{% endblock %}


